<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="database" connectionString="Data Source=.;Initial Catalog=Accounts;User ID=sa;Password=P2ssw0rd;MultipleActiveResultSets=True;Application Name=UnitTest" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>